{% extends "PruebasFisicasApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Message -->
   <section class="page-section">
    <div class="container">
      <div class="text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span>Cálculo de las notas</span>
        </h2>
        <p class="mb-3">Texto.
        </p>

        <form>
          <div class="input-group mb-3">
            <span class="col-3 input-group-text text-center" id="basic-addon1">Barra</span>
            <input type="text" class="form-control" placeholder="0">
            <span class="col-3 input-group-text" id="basic-addon2">seg</span>
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
          
          </div>
          
          <div class="input-group mb-3">
            <span class="col-3 input-group-text" id="basic-addon1">Circuito</span>
            <input type="text" class="form-control" placeholder="0.0" aria-label="Username" aria-describedby="basic-addon2">
            <span class="col-3 input-group-text" id="basic-addon2">seg</span>
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
          </div>
  
          <div class="input-group mb-3">
            <span class="col-3 text-center input-group-text" id="basic-addon1">Carrera</span>
            <input type="text" class="form-control" placeholder="0" aria-label="Username" aria-describedby="basic-addon3">
            <span class="col-0 text-center input-group-text">:</span>
            <input type="text" class="form-control" placeholder="0" aria-label="Username" aria-describedby="basic-addon4">
            <span class="col-3 text-center input-group-text" id="basic-addon2">min : seg</span>
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <table class="table table-dark table-striped caption-top">
          <caption class = "text-center">Resultados</caption>
          <tr>
            <th scope="col">Prueba</th>
            <th>Tiempo</th>
            <th>Intervalo</th>
            <th>Nota</th>
          </tr>
          <tr>
            <th>Barra (seg)</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
            <th>Circuito (seg)</th>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>
        </table>
      </div>
    </div>
  </section>

{% endblock %}