<html>
<body>

<h2 style="color: red">
    Cálculo nota pruebas física CNP
</h2>

<form action="/calcNotaAntiguo/" method="POST"> {% csrf_token %}

    <label>Tiempo barra (seg): </label>
    <input type="text" name="timeBar" value="0"
      onblur="if(this.value==''){ this.value='0'; this.style.color='#BBB';}"
      onfocus="if(this.value=='0'){ this.value=''; this.style.color='#000';}"
      style="color:#BBB;" /><br><br>
    <label>Tiempo circuito (seg): </label>
    <input type="text" name="timeCircuit" value="0"
      onblur="if(this.value==''){ this.value='0'; this.style.color='#BBB';}"
      onfocus="if(this.value=='0'){ this.value=''; this.style.color='#000';}"
      style="color:#BBB;" /><br><br>
    <label>Tiempo carrera (min:seg): </label>
    <input type="text" name="timeRaceMin" value="0"
      onblur="if(this.value==''){ this.value='0'; this.style.color='#BBB';}"
      onfocus="if(this.value=='0'){ this.value=''; this.style.color='#000';}"
      style="color:#BBB;" />
    <label>:</label>
    <input type="text" name="timeRaceSec" value="0"
      onblur="if(this.value==''){ this.value='0'; this.style.color='#BBB';}"
      onfocus="if(this.value=='0'){ this.value=''; this.style.color='#000';}"
      style="color:#BBB;" /><br><br>

      <input type="submit" value="Enviar" />
</form>

<table class="default">
  <caption>Resultados</caption>
  <tr>
    <th scope="col">Prueba</th>
    <th>Tiempo</th>
    <th>Intervalo</th>
    <th>Nota</th>
  </tr>
  <tr>
    <th>Barra (seg)</th>
    <td>{{tests.barTime}}</td>
    <td>{{tests.barInterval}}</td>
    <td>{{tests.strBarGrade}}</td>
  </tr>
  <tr>
    <th>Circuito (seg)</th>
    <td>{{tests.circuitTime}}</td>
    <td>{{tests.circuitInterval}}</td>
    <td>{{tests.strCircuitGrade}}</td>
  </tr>
  <tr>
    <th>Carrera (min:seg)</th>
    <td>{{tests.strRaceTime}}</td>
    <td>{{tests.raceInterval}}</td>
    <td>{{tests.strRaceGrade}}</td>
  </tr>
  <tr>
    <th>Total</th>
    <td></td>
    <td></td>
    <td>{{tests.strTotalGrade}}</td>
  </tr>
</table>

</body>
</html>