{% extends "PruebasFisicasApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Message -->
   <section class="page-section">
    <div class="container">
      <div class="text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span>Cálculo de las notas</span>
        </h2>
        <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.
        </p>
        <table class="table table-dark table-striped caption-top">
          <caption class = "text-center">Resultados</caption>
          <tr>
            <th scope="col">Prueba</th>
            <th>Tiempo</th>
            <th>Intervalo</th>
            <th>Nota</th>
          </tr>
          <tr>
            <th>Barra (seg)</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
            <th>Circuito (seg)</th>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>
        </table>
      </div>
    </div>
  </section>

{% endblock %}