{% extends "base.html" %}

{% load static %}

{% block content %}

   <!-- Message -->
   <section class="page-section">
    <div class="container">
      <div class="text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span>Cálculo de las notas</span>
        </h2>
        <p class="mb-3">Texto.
        </p>

        <form method="GET">
          <div class="input-group mb-3">
            <span class="col-3 input-group-text text-center">Barra</span>
            <input type="text" name="timeBar" class="form-control" placeholder="0">
            <span class="col-3 input-group-text">seg</span>
            <button type="submit" class="btn btn-outline-secondary" name = "calcButton" value = "bar">Calcular</button>
          </div>
          
          <div class="input-group mb-3">
            <span class="col-3 input-group-text" id="basic-addon1">Circuito</span>
            <input type="text" name="timeCircuit" class="form-control" placeholder="0.0" aria-label="Username" aria-describedby="basic-addon2">
            <span class="col-3 input-group-text" id="basic-addon2">seg</span>
            <button type="submit" class="btn btn-outline-secondary" name = "calcButton" value = "circuit">Calcular</button>
          </div>
  
          <div class="input-group mb-3">
            <span class="col-3 text-center input-group-text" id="basic-addon1">Carrera</span>
            <input type="text" name="timeRaceMin" class="form-control" placeholder="0" aria-label="Username" aria-describedby="basic-addon3">
            <span class="text-center input-group-text">:</span>
            <input type="text" name="timeRaceSec" class="form-control" placeholder="0" aria-label="Username" aria-describedby="basic-addon4">
            <span class="col-3 text-center input-group-text" id="basic-addon2">min : seg</span>
            <button type="submit" class="btn btn-outline-secondary" name = "calcButton" value = "race">Calcular</button>
          </div>
          <button type="submit" class="btn btn-secondary" name = "calcButton" value = "all">Calcular las notas de las 3 pruebas</button>
        </form>

        <table class="table table-light table-striped table-bordered border-secondary text-center align-middle">
          <caption class = "caption-top text-center">Resultados</caption>
          <thead>
            <tr>
              <th class="col-5">Prueba</th>
              <th class="col-1">Tiempo</th>
              <th class="col-3">Intervalo</th>
              <th class="col-3">Nota</th>
            </tr>
          </thead>
          <tbody class="table-group-divider border-secondary">
          <tr>
            <th>Barra (seg)</th>
            <td>{{tests.barTime}}</td>
            <td>{{tests.barInterval}}</td>
            <td>{{tests.strBarGrade}}</td>
          </tr>
          <tr>
            <th>Circuito (seg)</th>
            <td>{{tests.circuitTime}}</td>
            <td>{{tests.circuitInterval}}</td>
            <td>{{tests.strCircuitGrade}}</td>
          </tr>
          <tr>
            <th>Carrera (min:seg)</th>
            <td>{{tests.strRaceTime}}</td>
            <td>{{tests.raceInterval}}</td>
            <td>{{tests.strRaceGrade}}</td>
          </tr>
          <tr>
            <th colspan="3">Total</th>
            <td>{{tests.strTotalGrade}}</td>
          </tr>
        </tbody>
        </table>

        <form method="GET">
        <button type="submit" class="btn btn-secondary" name = "calcButton" value = "reset">Reiniciar resultados</button>
        </form>

      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm">
          <img class="img-fluid mb-2 min-width rounded" src="{% static 'PruebasFisicasApp/img/tablaBarra.jpg' %}" alt="">
        </div>
        <div class="col-sm">
          <img class="img-fluid mb-2 min-width rounded" src="{% static 'PruebasFisicasApp/img/tablaCircuito.jpg' %}" alt="">
        </div>
        <div class="col-sm">
          <img class="img-fluid mb-2 min-width rounded" src="{% static 'PruebasFisicasApp/img/tablaCarrera.jpg' %}" alt="">
        </div>
      </div>
    </div>
</section>

<!--   <section class="page-section">
    <div class="container">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'PruebasFisicasApp/img/tablaBarra.png' %}" alt="">
        <div class="text-center bg-faded p-2 rounded"></div>
    </div>
  </section>
  <section class="page-section">
    <div class="container">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'PruebasFisicasApp/img/tablaCircuito.png' %}" alt="">
    </div>
  </section>
  <section class="page-section">
    <div class="container">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'PruebasFisicasApp/img/tablaCarrera.png' %}" alt="">
    </div>
  </section> -->
  
{% endblock %}