<html>
<body>

<h2 style="color: red">
    Cálculo nota pruebas física CNP
</h2>


<!-- TODO: restringir valores que se pueden enviar:
      - Solo enteros dentro de un rango
      - impedir enviar vacio
   -->   

<form action="/buscar/" method="GET">
    <label>Tiempo barra (s): </label>
    <input type="text" name="timeBar"><br>
    <label>Tiempo circuito (s): </label>
    <input type="text" name="timeCircuit"><br>
    <label>Tiempo carrera (min): </label>
    <input type="text" name="timeRaceMin">
    <label>Tiempo carrera (s): </label>
    <input type="text" name="timeRaceSec">


<!-- <form action="/buscar/" method="GET">
      <label for="prueba1">Prueba1</label>
      <select name="time1" id="prueba1">
        <option value="1">1 minuto</option>
        <option value="5">5 minutos</option>
        <option value="15">15 minutos</option>
        <option value="25">25 minutos</option>
      </select> -->

<!-- <input type="submit" value="Enviar" />-->
<!--      <br>-->
<!--      <label for="prueba2">Prueba2</label>-->
<!--      <select name="time2" id="prueba2">-->
<!--        <option value="1seg">1 segundo</option>-->
<!--        <option value="2seg">2 segundos</option>-->
<!--      </select>-->
<!--      <br> -->
      <input type="submit" value="Enviar" />
</form>

<p>Nota Barra: {{gradeBar}}.</p>
<p>Nota Circuito: {{gradeCircuit}}.</p>
<p>Nota Carrera: {{gradeRace}}.</p>
<!-- <p>Nota Total: {{gradeBar}}.</p> -->

</body>
</html>