<html>
<body>

<h2 style="color: red">
    Cálculo nota pruebas física CNP
</h2>

<form action="/home/" method="POST"> {% csrf_token %}

    <label>Tiempo barra (s): </label>
    <input type="text" name="timeBar" value="0"
      onblur="if(this.value==''){ this.value='0'; this.style.color='#BBB';}"
      onfocus="if(this.value=='0'){ this.value=''; this.style.color='#000';}"
      style="color:#BBB;" /><br><br>
    <label>Tiempo circuito (s): </label>
    <input type="text" name="timeCircuit" value="0"
      onblur="if(this.value==''){ this.value='0'; this.style.color='#BBB';}"
      onfocus="if(this.value=='0'){ this.value=''; this.style.color='#000';}"
      style="color:#BBB;" /><br><br>
    <label>Tiempo carrera (min): </label>
    <input type="text" name="timeRaceMin" value="0"
      onblur="if(this.value==''){ this.value='0'; this.style.color='#BBB';}"
      onfocus="if(this.value=='0'){ this.value=''; this.style.color='#000';}"
      style="color:#BBB;" />
    <label>Tiempo carrera (s): </label>
    <input type="text" name="timeRaceSec" value="0"
      onblur="if(this.value==''){ this.value='0'; this.style.color='#BBB';}"
      onfocus="if(this.value=='0'){ this.value=''; this.style.color='#000';}"
      style="color:#BBB;" /><br><br>

      <input type="submit" value="Enviar" />
</form>

<p>Nota Barra: {{tests.barGrade}}/10.</p>
<p>Nota Circuito: {{tests.circuitGrade}}/10.</p>
<p>Nota Carrera: {{tests.raceGrade}}/10.</p>
<p>Nota Final: {{tests.totalGrade30}}/30 ({{tests.totalGrade10}}/10).</p>


<table class="default">
  <caption>Título</caption>
  <tr>
    <th scope="col">Prueba</th>
    <th>Tiempo</th>
    <th>Intervalo</th>
    <th>Nota</th>
  </tr>
  <tr>
    <th>Barra</th>
    <td>{{tests.barTime}} seg</td>
    <td>{{tests.barInterval}}</td>
    <td>{{tests.barGrade}}/10</td>
  </tr>
  <tr>
    <th>Circuito</th>
    <td>{{tests.circuitTime}} seg</td>
    <td>{{tests.circuitInterval}}</td>
    <td>{{tests.circuitGrade}}/10</td>
  </tr>
  <tr>
    <th>Carrera</th>
    <td>{{tests.strRaceTime}}</td>
    <td>{{tests.raceInterval}}</td>
    <td>{{tests.raceGrade}}/10</td>
  </tr>
  <tr>
    <th>Total</th>
    <td></td>
    <td></td>
    <td>{{tests.totalGrade30}}/30 ({{tests.totalGrade10}}/10)</td>
  </tr>
</table>

</body>
</html>